<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/busbus/public/css/iskanje.css" />
  </head>
  <body class="flex-center pomlad">
    <%- include('./partials/body-common'); %> <%- include('./partials/modal'); %>

    <div id="bg"></div>
    <div id="main" class="hidden">
      <div class="nav-top flex-center">
        <div class="tracker-shortcut" @click="openBusSearch" touchy>
          <img src="/busbus/public/img/gps-cursor.png" alt="Iskanje avtobusa" />
        </div>
        <div class="live-dot-container" @click="autoRefresh=!autoRefresh" touchy>
          <div class="live-dot" :class="{live:autoRefresh}"></div>
        </div>
      </div>

      <div class="block">
        <!-- INPUT SECTION -->
        <div class="section" id="input">
          <input
            type="text"
            name="postaja"
            placeholder="Postaja"
            autocomplete="off"
            spellcheck="false"
            v-model="input"
            @input="onInput"
            @keydown.enter="onEnter"
          />
          <div class="reset flex-center" @click="resetInput" touchy>×</div>
        </div>

        <!-- NEDAVNA ISKANJA SECTION -->
        <div class="section postaje" v-if="!input && filteredHistory.length">
          <div class="postaja" v-for="stop in filteredHistory" @click="input=stop.name" touchy>{{ stop.name }}</div>
        </div>

        <!-- ISKANJE FILTER SECTION -->
        <div class="section postaje" v-if="searchResults.length">
          <div
            class="postaja"
            :class="{selected: input === stopName}"
            v-for="stopName in searchResults"
            @click="onInput()||(input=stopName)"
            touchy
          >
            {{ stopName }}
          </div>
        </div>

        <!-- POSTAJE MOŽNOSTI SECTION -->
        <div class="section postaje" v-if="stopOptions.length">
          <div
            v-for="option in stopOptions"
            class="postaja"
            @click="selectStop(option.ref_id)"
            :class="{selected: selectedStop.ref_id === option.ref_id}"
            touchy
          >
            {{ option.text }}
          </div>
        </div>

        <!-- LINIJE SECTION -->
        <div class="section" id="linije" v-if="!loading && arrivals.length">
          <div class="linija" v-for="r in arrivals">
            <div class="stevilka" @click="showMap(r[0])" touchy>{{ r[0].key }}</div>
            <div class="prihodi" @click="eta=!eta" :style="{'text-decoration':dataExpired?'line-through':''}" touchy>
              <span v-for="arrival in r.slice(0,3)" :class="{garaza:arrival.v_garazo}">{{
                eta ? arrival.minutes + ' min' : arrival.time
              }}</span>
            </div>
          </div>
        </div>

        <span id="loadingText" v-if="loading">Iskanje ..</span>
        <span id="emptyText" v-if="selectedStop.name && !loading && !arrivals.length">Ni rezultatov.</span>
        <span id="errorText" v-if="error">[error]</span>
      </div>
    </div>

    <img src="/busbus/public/img/busek.png" id="busek" />

    <script>
      // --- IZLETEK (BUSEK)
      const random = (min, max) => min + Math.random() * (max - min);

      function izletek() {
        $('#busek').style.animation = '';
        setTimeout(() => ($('#busek').style.animation = `izletek ${window.innerWidth / 50}s linear`), 100);
        $('#busek').onanimationend = () => setTimeout(izletek, random(100_000, 300_000));
      }

      setTimeout(izletek, random(100_000, 300_000));
    </script>

    <% if (userscript) { %>
    <script>
      (<%- userscript %>)();
    </script>
    <% } %>
    
    <% if (msg) { %><%- include('./partials/msg') %><% } %>

    <script src="/busbus/public/js/vendor/fingerprint.js"></script>
    <script src="/busbus/public/js/vendor/vue.global.prod.js"></script>
    <script src="/busbus/public/js/vendor/cookie-storage.min.js"></script>
    <script src="/busbus/public/js/vendor/touchy.js"></script>
    <script src="/busbus/public/js/stops.js"></script>
    <script src="/busbus/public/js/iskanje.js"></script>
    <script src="/busbus/public/js/pwa/pwa.js"></script>
  </body>
</html>
