<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <style>
      * {
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
      }

      p {
        margin-bottom: 5px;
      }

      h2 {
        font-size: 22px;
      }

      h3 {
        font-size: 17px;
        margin-bottom: 0;
      }

      i {
        color: #ccc;
      }

      hr {
        width: 100%;
      }

      form {
        padding: 15px;
        height: 100%;

        display: flex;
        flex-direction: column;
      }

      input[name="driver_nickname"] {
        font-style: italic;
      }

      textarea {
        resize: none;
      }

      spacer {
        min-height: 40px;
        flex-grow: 1;
      }

      button {
        /* font-weight: bold; */
        cursor: pointer;
      }

      button.back-button {
        align-self: flex-start;
      }

      button.submit {
        margin-bottom: env(safe-area-inset-bottom, 0px);
      }
    </style>
  </head>
  <body>
    <form method="POST" action="objavi">
      <input type="hidden" name="bus_id" value="<%- bus_id %>" />
      <input type="hidden" name="driver_id" value="<%- driver_id %>" />
      <button type="button" class="back-button">← nazaj</button>

      <h2>Oceni!</h2>

      <h3>Avtobus</h3>
      <p>Opis:</p>
      <input type="text" name="bus_description" placeholder="Povej kaj o busku" value="<%- bus_description %>" />

      <h3>Voznik</h3>
      <p>Ime:</p>
      <input type="text" name="driver_nickname" placeholder="Mirko Mirkić" value="<%- driver_nickname %>" />

      <p>Prijazen: <i>(Če ti pobegne: kakec!)</i></p>
      <select name="driver_rating">
        <option value="">-- izberi --</option>
        <option value="1" <% if(driver_rating==='1'){%>selected<%}%>>Kakec! (1)</option>
        <option value="2" <% if(driver_rating==='2'){%>selected<%}%>>Slabo ... (2)</option>
        <option value="3" <% if(driver_rating==='3'){%>selected<%}%>>Meh (3)</option>
        <option value="4" <% if(driver_rating==='4'){%>selected<%}%>>Vredu. (4)</option>
        <option value="5" <% if(driver_rating==='5'){%>selected<%}%>>Popoln! (5)</option>
      </select>

      <p>Opis:</p>
      <textarea rows="3" cols="30" type="text" name="driver_description" placeholder="Povej kaj o šoferju">
<%- driver_description %></textarea
      >

      <spacer></spacer>

      <p>Tvoje ime:</p>
      <input type="text" name="author" placeholder="Kako ti je ime!" required />

      <br />
      <br />
      <button type="submit" class="submit">Objavi</button>
    </form>

    <script>
      window.$ = window.$ || ((sel) => document.querySelector(sel));
      $('form').setAttribute('action', location.pathname+location.search);
      $('.back-button').onclick = (e) => {
        e.preventDefault();
        history.back();
      };

      $('button.submit').addEventListener('click', submitForm);
      $('form').addEventListener('submit', submitForm);

      function submitForm(e) {
        e.preventDefault();

        if ($('form').checkValidity()) {
          $('.submit').disabled = true;
          $("form").submit();
        } else {
          $('form').reportValidity();
        }
      }
    </script>
  </body>
</html>
