<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <style>
      * {
        font-family: Menlo, monospace;
        font-size: 12px;
        box-sizing: border-box;
      }

      html,
      body {
        padding: 0;
        margin: 0;
      }

      i {
        opacity: 0.3;
      }

      #msgForm {
        background: #ccc;
        padding: 10px;
        margin: auto;

        margin-bottom: 10px;
      }

      #msgForm form {
        max-width: 380px;
        margin: auto;

        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      #messages {
        max-width: 400px;
        margin: auto;

        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      #messages .message {
        position: relative;
        padding: 10px;
        border: 1px solid;
        background: ivory;
      }

      #messages .message.opened {
        background: #eee;
      }

      pre {
        font-weight: bold;
        background: white;
        border: 1px solid;
        display: inline-block;
        white-space: pre-line;
      }

      #delete {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    </style>
  </head>
  <body>
    <%- include('partials/body-common') %>

    <div id="msgForm">
      <form action="/busbus/msg/send" method="post">
        <input type="text" name="recipient" id="recipient" placeholder="prejemnik" />
        <textarea name="content" id="content" rows="4" placeholder="tvoje sporočilo"></textarea>
        <button type="submit">pošlji</button>
      </form>
    </div>

    <div id="messages">
      <% for (let msg of messages) { %>
      <div class="message<%- msg.openedOn !== 0 ? ' opened' : '' %>">
        <a id="delete" href="#" data-id="<%- msg._id %>">[x]</a>
        <i><%- new Date(msg.timestamp).toLocaleString() %></i>
        <p>&lt;<%- msg.recipient %>&gt;</p>
        <pre><%- msg.content %></pre>
        <hr />
        <i>ID: <%- msg._id %></i>
      </div>
      <% } %>
    </div>

    <script>
      document.addEventListener('click', (e) => {
        if (e.target.matches('a[data-id]')) {
          e.preventDefault();
          deleteMsg(e.target.dataset.id);
        }
      });

      function deleteMsg(id) {
        if (confirm('izbriši "' + id + '"?')) {
          navigateTo('/busbus/msg/delete?id=' + id);
        }
      }
    </script>
  </body>
</html>
